html {
  background-color: black;
}

h1 {
  color: fuchsia;
  text-align: center;
}

h2 {
  color: rgb(60, 153, 130);
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
  font-size: 2rem;
  margin: 40px 50px;
  letter-spacing: -1px;
}

h3 {
  font-family: source-code-pro;
  font-weight: 300;
  font-style: italic;
  font-size: 1.2rem;
  margin: 10px 20px;
}

.outer-container {
  background-color: white;
  border: 3px solid gray;
  height: 550px;
  width: 400px;
  border-radius: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display {
  background-color: rgb(17, 30, 36);
  position: fixed;
  height: 140px;
  width: 376px;
  left: 12px;
  top: 20px;
  border-radius: 25px;
  text-align: center;
}

.switch {
  background-color: rgb(214, 210, 210);
  position: fixed;
  height: 40px;
  width: 350px;
  left: 25px;
  top: 185px;
  border-radius: 10px;

}

.keyboard {
  background-color: darkgray;
  position: fixed;
  height: 276px;
  width: 376px;
  left: 12px;
  top: 260px;
  border-radius: 20px;

}

.button {
  width: 46px;
  height: 40px;
  border-radius: 5px;
  margin: 12.5px;
  font-size: 1.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.button-gray {
  color: oldlace;
  color: black;
}

.button-black {
  background-color: rgb(27, 27, 27);
  color: white;
}

.button-invisible {
  visibility: hidden;
  margin: 0 12.5px;
}